# RPC PROVIDERS ---
# https://dashboard.alchemy.com/
ALCHEMY_API_KEY=alchemy_api_key

# HUGGINGFACE ---
# Required for DVC remote storage (Write access needed)
# Get yours at https://huggingface.co/settings/tokens
HF_TOKEN=huggingface_token

# PROJECT SETTINGS ---
LOG_LEVEL=INFO